@model MVC0626.Models.Dance

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm表单页</title>
</head>
<body>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>你的姓名：@Html.TextBoxFor(x=>x.Name)</p>
    <p>电子邮件：@Html.TextBoxFor(x=>x.Email)</p>
    <p>你的电话：@Html.TextBoxFor(x=>x.Phone)</p>
    <p>
        你的选择是？
        @Html.DropDownListFor(x=> x.WillAttend, new[]
   {
       new SelectListItem(){Text="是的，我将参加",Value=bool.TrueString},
       new SelectListItem(){Text="抱歉，我不能参加",Value=bool.FalseString}
   },"选择一项")
    </p>
    <input type="submit" value="submit RSVP" />
}


</body>
</html>
